---
import tredi from "../assets/tredi.png";
import { Image } from "astro:assets";
---

<div class="flex justify-center items-center mt-32 lg:hidden">
  <Image class="w-3/4" src={tredi} alt="logo" />
</div>
